<a href="https://colab.research.google.com/github/agauns16/Data_Science_Masters/blob/main/day_zero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Introduction to python

# This is a comment. It will print out whatever is written
# in the quotation mark
print("Hello, World!")

Hello, World!

In [3]:
# indendation

# case 1
print("I have no Indentation ")

# case 2
##    print("I have tab Indentation ")
# the above chunk of code gives error sue to indendation

IndentationError: unexpected indent (ipython-input-4160602014.py, line 7)

Input and Output in Python
([Link](https://www.geeksforgeeks.org/python/input-and-output-in-python/))

In [4]:
## Input and output in Python

# Python's input() function is used to take user input.

name = input("Enter your name: ")
print("Hello,", name, "! Welcome!")

Enter your name: Rocky
Hello, Rocky ! Welcome!

In [5]:
# printing outputs in python

# Single variable
s = "Bob"
print(s)

# Multiple Variables
s = "Alice"
age = 25
city = "New York"
print(s, age, city)

Bob
Alice 25 New York

In [8]:
#Take Multiple Input in Python

# taking two inputs at a time
# Enter two values separated by a space, e.g., "10 20"
x, y = input("Enter two values: ").split()
print("Number of boys: ", x)
print("Number of girls: ", y)

# taking three inputs at a time
# Enter three values separated by spaces, e.g., "30 15 15"
x, y, z = input("Enter three values: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)

# in the above code,  separate variables for each value using the split() method.

Enter two values:  1 2
Number of boys:  1
Number of girls:  2
Enter three values: 1 2 3
Total number of students:  1
Number of boys is :  2
Number of girls is :  3

In [9]:
# printing number

# Taking input as int
# Typecasting to int
n = int(input("How many roses?: "))
print(n)

How many roses?: 3
3

In [10]:
# text or string as input

# Taking input as string
color = input("What color is rose?: ")
print(color)

What color is rose?: blue
blue

In [11]:
# printing float or decimal number

# Taking input as float
# Typecasting to float
price = float(input("Price of each rose?: "))
print(price)

Price of each rose?: 6.8
6.8

In [12]:
# finding the data type of the input variable
a = "Hello World"
b = 10
c = 11.22
d = ("Geeks", "for", "Geeks")
e = ["Geeks", "for", "Geeks"]
f = {"Geeks": 1, "for":2, "Geeks":3}


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

Different types of Variables in Python
(For further information, refer this [site](https://www.geeksforgeeks.org/python/python-variables/))

In [13]:
# Variable 'x' stores the integer value 5
x = 5

# Variable 'name' stores the string "Samantha"
name = "Samantha"

print(x)
print(name)

5
Samantha

**Rules for Naming Variables**
To use variables effectively, we must follow Python’s naming rules:

1.   Variable names can only contain letters, digits and underscores (_).

1.   A variable name cannot start with a digit.

2.   Variable names are case-sensitive (myVar and myvar are different).


2.   Avoid using Python keywords (e.g., if, else, for) as variable names.

In [14]:
# good practice

age = 21
_colour = "lilac"
total_score = 90

##invalid
#1name = "Error"  # Starts with a digit
#class = 10       # 'class' is a reserved keyword
#user-name = "Doe"  # Contains a hyphen
x = 5
y = 3.14
z = "Hi"

x = 10
x = "Now a string"

a = b = c = 100
print(a, b, c)

x, y, z = 1, 2.5, "Python"
print(x, y, z)

100 100 100
1 2.5 Python

**Type Casting a Variable**
Type casting refers to the process of converting the value of one data type into another.

Basic Casting Functions


1.   int() - Converts compatible values to an integer.
2.   float() - Transforms values into floating-point numbers.
3.   str() - Converts any data type into a string.

In [15]:
# Casting variables
s = "10"  # Initially a string
n = int(s)  # Cast string to integer
cnt = 5
f = float(cnt)  # Cast integer to float
age = 25
s2 = str(age)  # Cast integer to string

# Display results
print(n)
print(f)
print(s2)

# Delete a Variable Using del Keyword
# Assigning value to variable
x = 10
print(x)

# Removing the variable using del
del x

# Trying to print x after deletion will raise an error
# print(x)  # Uncommenting this line will raise NameError: name 'x' is not defined

10
5.0
25
10

[**Python Operators**](https://www.geeksforgeeks.org/python/python-operators/)


1.   Operators: Special symbols like -, + , * , /, etc.
2.   Operands: Value on which the operator is applied.

In [ ]:
# Variables
a = 15
b = 4

# Addition
print("Addition:", a + b)

# Subtraction
print("Subtraction:", a - b)

# Multiplication
print("Multiplication:", a * b)

# Division
print("Division:", a / b)

# Floor Division
print("Floor Division:", a // b)

# Modulus
print("Modulus:", a % b)

# Exponentiation
print("Exponentiation:", a ** b)

In [ ]:
#Comparison Operators
a = 13
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

# Logical Operators
a = True
b = False
print(a and b)
print(a or b)
print(not a)

## bitwise Operators
#1.Bitwise NOT
#2.Bitwise Shift
#3.Bitwise AND
#4.Bitwise XOR
#5.Bitwise OR
a = 10
b = 4

print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

##Identity Operators
#is          True if the operands are identical
#is not      True if the operands are not identical

a = 10
b = 20
c = a

print(a is not b)
print(a is c)

##Membership Operators
#in            True if value is found in the sequence
#not in        True if value is not found in the sequence

x = 24
y = 20
list = [10, 20, 30, 40, 50]

if (x not in list):
    print("x is NOT present in given list")
else:
    print("x is present in given list")

if (y in list):
    print("y is present in given list")
else:
    print("y is NOT present in given list")

# Ternary Operator
# conditional expressions are operators that evaluate something
# based on a condition being true or false.

#Syntax :  [on_true] if [expression] else [on_false]
a, b = 10, 20
min = a if a < b else b

print(min)

**[Python Keywords](https://www.geeksforgeeks.org/python/python-keywords/)**

**[Python Data Types](https://www.geeksforgeeks.org/python/python-data-types/)**

In [ ]:
# Numerical data